<!DOCTYPE html>
<html>
  <head>
    <title>Admin's site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename='hack.css') }}">
    <link rel="stylesheet" href="{{ url_for("static", filename='dark-grey.css') }}">
    <script type="text/javascript">
    
    function rent_book(book_ID) {
    let login = prompt('Enter borrower\'s login:');
    window.location = '/rent/' + book_ID + '/' + login;
    }

    </script>
  </head>
  <body class="hack dark-grey">
    {% include 'navbar.html' %}
    {% if session['user_type']=='admin' %}
      <div class="">
        <div class="grid">
          <div class="cell -1of12"></div>
          <div class="cell -6of12">
            <p> <strong>Manage books:</strong></p>
            {% for book in books %}
              <div class="card">
                <header class="card-header">
                  {{book.book_title}}, {{book.book_author}}
                </header>
                <div class="card-content">
                  <div class="inner">
                    <div class="grid">
                      <div class="cell -6of12">
                        Publication date: {{book.book_publicationDate}}<br/>
                        Publication place: {{book.book_publicationPlace}}<br/>
                        Publisher: {{book.book_publisher}}<br/>
                        Number of pages: {{book.book_pagesNumber}}<br/>
                        ISBN: {{book.book_ISBN}}
                      </div>
                      <div class="cell -6of12">
                        {% if book.book_availability == True %}
                          {% if book.book_reservation==False %}
                            Availability: {{book.book_availability}}<br>
                            Reservation: {{book.book_reservation}}<br>
                          {% endif %}
                          {% if book.book_reservation==True %}
                            Availability: {{book.book_availability}}<br>
                            Reservation: {{book.book_reservation}}<br>
                            Reserver's login: {{book.book_reserver_login}}<br>
                          {% endif %}
                        {% else %}
                          {% if book.book_reservation==True %}
                            Availability: {{book.book_availability}}<br>
                            Borrower login: {{book.book_borrower_login}}<br>
                            Start date: {{book.book_startdate}}<br>
                            End date: {{book.book_enddate}}<br>
                            Reservation: {{book.book_reservation}}<br>
                            Reserver's login: {{book.book_reserver_login}}<br>
                          {% endif %}
                          {% if book.book_reservation==False %}
                            Availability: {{book.book_availability}}<br>
                            Borrower login: {{book.book_borrower_login}}<br>
                            Start date: {{book.book_startdate}}<br>
                            End date: {{book.book_enddate}}<br>
                            Reservation: {{book.book_reservation}}<br>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="example">
                    <a href="/delete/{{book.book_ID}}" class="btn btn-error btn-ghost">Delete</a>
                    <a class="btn btn-warning btn-ghost" onclick="rent_book('{{book.book_ID}}')">Rent</a>
                    <a href="/return/{{book.book_ID}}" class="btn btn-primary btn-ghost">Return</a>
                  </div>
                </div>
              </div>
            <hr> {% endfor %}
          </div>
          <div class="cell -1of12"></div>
          <div class="cell -3of12">
            
            <p> <strong> Add new book: </strong></p>
            <form class="form justify-content-center" method="POST" action='/add-book'>
              <fieldset class="form-group">
                <label for="title">Title:</label>
                <input type="text" name='title' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="author">Author:</label>
                <input type="text" name='author' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="ISBN">ISBN:</label>
                <input type="text" name='ISBN' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="publication_date">Publ. date:</label>
                <input type="text" name='publication_date' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="publication_place">Publ. place:</label>
                <input type="text" name='publication_place' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="publisher">Publisher:</label>
                <input type="text" name='publisher' class="form-control">
              </fieldset>
              <fieldset class="form-group">
                <label for="number_of_pages">Number of pages:</label>
                <input type="text" name='number_of_pages' class="form-control">
              </fieldset>
              <div class="form-actions">
                <button type="submit" action='submit' class="btn btn-primary btn-block">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  </body>
</html>