<!DOCTYPE html>
<html>

<head>
    <title>Rzeczy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename='hack.css') }}">
    <link rel="stylesheet" href="{{ url_for("static", filename='dark-grey.css') }}">
</head>

<body class="hack dark-grey">

    <div class="container">
        <p><strong> </strong></p>
        <a href="/register" class="btn btn-default">Sign up</a>
        <a href="/login" class="btn btn-default">Log in</a>

        <!--<p>Biblioteka to jest</p>
            to jest do dopracowania, easy
        {{session['username']}} , {{session['user_type']}}
        -->
        <p> <strong>All books:</strong></p>
            {% for book in books %}
              <div class="card">
                  {{book.book_title}}, {{book.book_author}}
            </div>
            {% endfor %}
     </div>
 </div>
</body>

</html>